<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .icon {
        
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 5px;
        right: 10px;
        left: 10px;
        
        }
        .search {
        color: #808080;
        }
        </style>
    <div class="search-mode">
        {% for res in result %}
            <div>
                {{ res.idiom }}
                {{ res.definition }}
            </div>
        {% endfor %}
        
    </div>
</body>
</html>


