<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            background: black;
            font-family: 'nanumsquare';
            
        }
        div {
            margin-top: 500px;
            color: white;
            text-align: center;
            opacity: 0;
            transition: all 1s;
        }

    </style>
    <div><h1>안녕하세요</h1></div>
    <div><h1>안녕하세요</h1></div>
    <div><h1>안녕하세요</h1></div>
    <script>

        let observer = new IntersectionObserver((e)=>{
            e.forEach((result)=>{
                if (result.isIntersecting){
                    result.target.style.opacity = 1;
                } else {
                    result.target.style.opacity = 0;
                }
            })
        })

        let div = document.querySelectorAll('div')
        observer.observe(div[0])
        observer.observe(div[1])
        observer.observe(div[2])

    </script>
</body>
</html>